{% extends 'base.html' %} {% load static %} {% block col-1 %}
<div class="row">
    <div class="col-md d-flex justfy-content-center">
        <div class="row text-center">
            <h2 class="font-weight-bold">Indian Council of Agircultural Research</h2>
        </div>
        <br>
        <p>The Indian Council of Agricultural Research (ICAR) is an autonomous body responsible for co-ordinating agricultural education and research in India. It reports to the Department of Agricultural Research and Education, Ministry of Agriculture.The
            Union Minister of Agriculture serves as its presidentIt is the largest network of agricultural research and education institutes in the world</p>
    </div>
    <div class="col-md d-flex justify-content-center">
        <img src="{% static 'dashboard/img/icar-logo.png' %}" alt="icar-logo">
    </div>
</div>
{% endblock %}